<h2 style="margin-left:40px;font-weight:700;">Cadastro do Conteudo</h2>


<div class="container" style="margin-top:40px;">
    <div class="row">
        <div class="input-field col s6">
        <input id="first_name2" type="text" class="validate">
        <label class="active" for="first_name2">Título</label>
        </div>
    </div>

    <div class="row">
            <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Introdução</label>
                </div>
            </div>
            </form>
    </div>



    <div class="row">
            <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Desenvolvimento</label>
                </div>
            </div>
            </form>
    </div>



    <div class="row">
            <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Conclusão</label>
                </div>
            </div>
            </form>
    </div>

    <a class="waves-effect waves-light btn">ENVIAR</a>


</div>

        
      

